* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;

  --bg-color: #0f172a;
  --stroke-color: #1e293b;

  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;

  --ff-Archivo: "Archivo", sans-serif;
  --heading1: 800 1.5rem/1.35 var(--ff-Archivo);
  --heading2: 800 1rem/1.4 var(--ff-Archivo);
  --heading3: 800 0.875rem/1.4 var(--ff-Archivo);
  --span: 600 0.875rem/1.45 var(--ff-Archivo);
  --ff-p: 400 0.875rem/1.6 var(--ff-Archivo);
}

h1{
  font: var(--heading1);
  color: var(--text-color-primary);
}
h2{
  font: var(--heading2);
  color: var(--text-color-primary);
}

h3{
  font: var(--heading3);
  color: var(--text-color-primary);
}


body {
  background-color: var(--bg-color);
  font-family: var(--ff-Archivo);
  color: var(--text-color-primary);
  
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}
