#navbar-primary {
  padding-block: 1rem;
  & > div {
    justify-content: space-between;
  }

  & div:has(a) {
    & a {
      display: none;
    }
  }
}

#navbar-secondary {
  border-block: 1px solid var(--stroke-color);
  white-space: nowrap;
  padding-block: 0.875rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  gap: 2rem;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (width >= 80em) {
  #navbar-primary {
   & div:has(a) {
    & a {
      display: initial;
    }
  }
  
  }
  #navbar-secondary {
    justify-content: space-around;
  }
}
