#navbar-primary {
  padding: 1rem;

  & > div {
    justify-content: space-between;
  }

  & div:has(a) {
    & a {
      display: none;
    }
  }
}

@media (width >= 80em) {
  #navbar-primary {
    padding: 2rem;
    & div:has(a) {
    & a {
      display: initial;
    }
  }
  }
}
